{% extends 'resume/base.html' %}
{% load staticfiles %}

{% block content %}
<div>
      <h2>PLACEMENT CELL</h2>
      <p style="float:left;display:block;" align ="justify">
          The institute boasts of consistently successful placement since its inception.
          The year 2011-12 saw a record (419) students receiving confirm offers, which is
          (91.68%) of passed-out students from the institute.Total of (40) reputed and top
          notch organizations visited campus encompassing Software/IT and Core Engineering
          sector.
      </p>
      <p style="float:left;display:block;" align ="justify">
          The placements and related matters are looked after by a T&P Cell comprising
          of a T&P Officer, who is assisted by a T&P committee consisting of staff and
          students members. The T&P committee handles the entire gamut of activities
          involved in providing a stepping-stone to the corporate arena for the students
          of G.C.O.E. Amravati. The T&P committee acts as a liaison with the corporate world
          and believes in maintaining a positive and interactive relationship with the
          corporate. The activities involve facilitating the Pre-placement Talks and the
          planning and execution of the Campus Recruitment Training program (CRT).
       <p>
       <p style="float:left;display:block;" align ="justify">The institute has also established (i) Industry Institute Partnership Cell
       & (ii) Entrepreneurship Development Cell, to promote Industry-Institute Interaction
       and Entrepreneurship, with funding from AICTE, New Delhi. More than (35) activities
       were conducted under IIPC Scheme during 2011-12 notable amongst them were Faculty
       Sabbatical Program at Cognizant, Work-shops and Interactive sessions for faculty
       and students, FDP, M. Tech. Internships at Infosys, Industry Projects for students.
       </p>
       <h4>Important Downloads</h4>
       <TABLE style= "width: 60%" align = "left">
           <tr >
            <td bgcolor = "silver" height =20>  <a href="https://www.gcoea.ac.in/sites/default/files/pagefiles/Undertakingantiragging.pdf">UnderTaking PDF</a></td>
           </tr>
           <tr >
            <td bgcolor = "silver" height =20> <a href="https://www.gcoea.ac.in/sites/default/files/pagefiles/III%20ACTIVITY%20REPORT%20FOR%202014-15.pdf"> III ACTIVITY REPORT FOR 2014-15.pdf</a></td>

           </tr>
           <tr >
            <td bgcolor = "silver" height =20> <a href="https://www.gcoea.ac.in/sites/default/files/pagefiles/M%20TECH%20PLACEMENT%20STATISTICS.pdf"> M TECH PLACEMENT STATISTICS.pdf</a></td>

           </tr>
           <tr >
            <td bgcolor = "silver" height =20> <a href="https://www.gcoea.ac.in/sites/default/files/pagefiles/PLACEMENT%20POLICY%20OF%20INSTITUTE.pdf">PLACEMENT POLICY OF INSTITUTE.pdf</a></td>

           </tr>
           <tr >
            <td bgcolor = "silver" height =20> <a href="https://www.gcoea.ac.in/sites/default/files/pagefiles/PLACEMENT%20REPORT%202012-14%20BATCHES.pdf"> PLACEMENT REPORT 2012-14 BATCHES.pdf</a></td>

           </tr>
           <tr >
            <td bgcolor = "silver" height =20><a href="https://www.gcoea.ac.in/sites/default/files/pagefiles/PLACEMENT%20REPORT%20FOR%20%202014-15.pdf">PLACEMENT REPORT FOR 2014-15.pdf</a></td>

           </tr>
        </TABLE>
</div>
{% endblock %}