{% extends 'resume/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="row">
        <div class="side">

				<h3>
                    1. Its easy to register
				</h3>
				<p style="float:left;display:block">
					Share your company details on
                    <a href="mailto:placement@admin.iitd.ac.in">placement@admin.iitd.ac.in </a>
			        <br>The Details must include the following.
                </p><br>
                <ul>
                    <br><br>
                    <li >Company's Full Name</li>
                    <li>Name, Contact Number and email of the HR (or the person of contact)</li>
                    <li>Address of the Company</li>
                </ul>

				<p>
                    Simply share these details with your message and intent of recruitment or training/internship, and we’ll send you a link to your Job Notification Form (JNF) and doc file of Training Notification Form (TNF) and help you with the process.
                </p>





                <h3>
					2. You’ll be sent a Job Notification Form.
				</h3>
				<p style="float:left;display:block;">
					We’ll send you a link of Job Notification Form (JNF) inquiring required details about the job you would like to post for IIT Delhi. Fill out the form according to your requirements. You can also choose which departments or degree programs to recruit from.
					For training, we will be sending a doc file of Training Notification Form (TNF). After filling and sending it to us, you are registered and can hire interns from the campus.
				</p>





            <h3>3. Log in to manage your profile</h3>
			<p style="float:left;display:block;">
                Once you fill out the JNF/TNF,<br> we will send you your T&P login credentials. Once you have that, you can log in
                <a href="#" class="right">here</a> and view resumes of interested students and shortlist applicants.
            </p>
        </div>
</div>


        <div class="bloc bgc-white l-bloc tc-dim-gray" id="bloc-51">
	        <div class="container bloc-md">
		        <div class="row">
			        <div class="col-sm-12">
				        <h3 style="text-align: center">
					        Our process
				        </h3>
			        </div>
		        </div>
            </div>
        </div>


		<TABLE style= "width:55%" align = "center">
            <tr >
                <td bgcolor = "silver" height =100 ><img src="{% static 'images/1.png' %}" class="img-responsive">
                    <p>
					    Placement office sends invitations to companies and organizations along with relevant information.<br>
                        You can also send us a mail at <a href="mailto:placement@admin.iitd.ac.in">placement@admin.iitd.ac.in </a> regarding the same.
				    </p>
                </td>
				<td bgcolor = "silver" height =100 ><img src="{% static 'images/5.png' %}" class="img-responsive">
                    <p>
                        The JNF or TNF is frozen on the T&amp;P website by the company till a deadline, after which the student shall be able to view all the details, and the eligible students may apply.<br>
					    The company will then shortlist the students either based on their CVs or they can conduct a Test/GD for shortlisting the students.
				    </p>
                </td>
            </tr>
            <tr>
                <td bgcolor = "silver" height =100 > <img src="{% static 'images/2.png' %}" class="img-responsive">
	                <p>
					    Companies and organizations interested to recruit, register to the T&amp;P website.
				    </p>
                </td>
				<td bgcolor = "silver" height =100 > 	<img src="{% static 'images/6.png' %}" class="img-responsive">
                    <p>
					    The placement office allots the dates for campus interviews, by considering factors like student preference. job profile, compensation,
                        history with the campus, etc.
				    </p>
                </td>
            </tr>
            <tr>

                <td bgcolor = "silver" height =100> <img src="{% static 'images/3.png' %}" class="img-responsive">
                    <p>
					    Companies may fill Job Notification Form (JNF) or Training Notification Form (TNF) for each profile they wish to hire for.<br>
                        Once the filled JNF or TNF with all the required details is received, companies are registered and given login credentials to
                        access their online account on the T&amp;P website. <br>
				    </p>
                </td>
				<td bgcolor = "silver" height =100 ><img src="{% static 'images/7.png' %}" class="img-responsive">
                    <p>
					    Shortlisted students are notified.
				    </p>
                </td>

            </tr>
            <tr>
                <td bgcolor = "silver" height =100 > <img src="{% static 'images/4.png' %}" class="img-responsive">
                    <p>
					Companies/Organizations if interested in conducting a Pre-Placement-Talk can request for it along with the preferred date.
				    </p>
                </td>
				<td bgcolor = "silver" height =100 ><img src="{% static 'images/8.png' %}" class="img-responsive">
	            <p>
					After completion of selection process, company is required to announce the final list of the students on the same day itself.
				</p>
                </td>
            </tr>



        </TABLE>
</div>
{% endblock %}